/* Home Section Styling */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #081b29;
    background-image: url('Static/images/background.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 70px 10% 0;
    text-align: left; 
}

/* Home Content Styling */
.home-content {
    max-width: 800px;
    margin: 0; /* Change this from "0 auto" to just "0" */
}
